.idea
Thumbs.db
.DS_Store
node_modules/
mix-manifest.json
hot
mix.js.map
vendor/**/LICENSE
vendor/**/CHANGELOG.md
vendor/**/phpunit.xml.dist
vendor/**/README.md
vendor/**/readme.md
vendor/**/.gitignore
vendor/**/Tests
vendor/**/tests
vendor/**/Test
vendor/**/tests
vendor/**/test
vendor/**/Testing
vendor/**/build-phar.sh
vendor/**/psalm.xml
vendor/**/.travis.yml
vendor/**/Makefile
vendor/**/CONTRIBUTING.md
vendor/**/.gitlab-ci.yml
vendor/**/var/
vendor/**/.editorconfig
vendor/**/LICENSE.md
html/